<div class="row py-2">

  <div class="col-md-9 col-xs-12 mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr app-cart-item
          *ngFor="let lineItem of content?.lineItems"
          [lineItem]="lineItem"
          (updated)="cartUpdated()">
      </tr>

      </tbody>
    </table>
    <button class="btn btn-danger">Clear Cart</button>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h2>Order summary</h2>
        <p>Subtotal: {{content?.subtotal}}</p>
        <button class="btn btn-primary me-2" (click)="createOrder()">Create Order</button>
      </div>
    </div>
  </div>

</div>
