<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col" *ngFor="let prod of products">
    <div class="card">
      <img class="card-img-top" src="/api/v1/picture/{{prod.mainPictureId}}" alt="Product image" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title">{{prod.name}}</h5>
        <p class="card-text">{{prod.description}}</p>
        <p class="card-text">Price: {{prod.price}}</p>
        <a routerLink="/product/{{prod.id}}" class="btn btn-primary me-2">View</a>
        <a (click)="addToCart(prod.id)" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>

  <div class="col" *ngIf="products.length == 0">
    No data
  </div>

</div>
