<div class="row py-2">
  <div class="col-md-12 col-xs-12">

    <form (submit)="login()">
      <div class="alert alert-danger" role="alert" *ngIf="isError">
        Authentication error. Check login and password.
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" [(ngModel)]="credentials.username" class="form-control" id="username" name="username">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" [(ngModel)]="credentials.password" class="form-control" id="password" name="username">
      </div>

      <button type="submit" class="btn btn-primary me-3">Login</button>
      <a routerLink="/register">Register</a>
    </form>

  </div>
</div>
